<aside class="sidebar">
  <div class="sidebar-header">
    <p class="sidebar-title">Nepalibabu</p>
  </div>
  <div class="u-container">
    <div class="background-svg">
      <img
        src="{{ '/assets/web/Tflag.svg' | relative_url }}"
        alt="Background Flag"
      />
    </div>
    <div class="logo-container">
      <img class="logo-image" src="{{ site.logo | relative_url }}" alt="Logo" />
    </div>
    <h1 class="logo">{{ site.title }}</h1>
    <p class="site-description">{{ site.description }}</p>
    <nav>
      <ul class="nav-links">
        <li>
          <a
            href="{{ '/' | relative_url }}"
            class="{% if page.url == '/' or page.url == '' %}active{% endif %}"
          >
            <i class="ph-fill ph-house"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a
            href="{{ '/gallery' | relative_url }}"
            class="{% if page.url contains '/gallery' %}active{% endif %}"
          >
            <i class="ph-fill ph-image-square"></i>
            <span>Gallery</span>
          </a>
        </li>
        <li>
          <a
            href="{{ '/about' | relative_url }}"
            class="{% if page.url contains '/about' %}active{% endif %}"
          >
            <i class="ph-fill ph-info"></i>
            <span>About</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="social-links">
    <a
      href="https://github.com/{{ site.social.github }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://facebook.com/{{ site.social.facebook }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-facebook"></i>
    </a>
    <a
      href="https://instagram.com/{{ site.social.instagram }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab fa-instagram"></i>
    </a>
    <!-- Add RSS Feed Link -->
    <a
      href="{{ '/feed.xml' | relative_url }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fas fa-rss"></i>
    </a>
  </div>
</aside>
