:root {
  --primary: #3730a3;
  --secondary: #4f46e5;
  --accent: #eeff00;
  --link: #555;
  --link-hover: #ff4757;
  --link-active: var(--secondary);
  --text: black;
  --text-light: #555;
  --white: white;
  --bg: #f8f8f8;
  --footer-bg: var(--primary);
  --font: "Poppins", sans-serif;
  --font-size-base: 20px;
  --font-size-lg: 28px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-bold: bold;
  --max-w: 1200px;
  --gap: 10px;
  --padding: 20px;
  --btn-padding: 10px 20px;
  --transition: 0.3s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--white);
  color: var(--text);
  display: flex;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1;
  margin-left: 300px;
  margin-right: 300px;
  padding: var(--padding);
  background-color: var(--white);
  min-height: 100vh;
  transition: margin-left var(--transition) ease,
    margin-right var(--transition) ease;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
  }
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 15px;
  z-index: 101;
  cursor: pointer;
  font-size: 24px;
  color: #ff4757;
  padding: 5px;
  transition: transform var(--transition) ease;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.sidebar-visible {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }
}
