<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% seo %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ '/assets/initial-web/favicon.ico' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/rightbar.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/sidebar.css' | relative_url }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <div id="hamburger-menu" class="hamburger-menu">
      <i class="fas fa-bars"></i>
    </div>
    {% include sidebar.html %}
    <main class="main-content">
      <!-- Content from other layouts will be injected here -->
      {{ content }}
    </main>
    {% include rightbar.html %}
    <script src="{{ '/assets/script/ham.js' | relative_url }}"></script>
    <script src="{{ '/assets/script/toggle.js' | relative_url }}"></script>
    <script src="{{ '/assets/script/script.js' | relative_url }}"></script>
  </body>
</html>
