<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="main-content">
      <div class="profile-grid">
        <div class="profile-column">
          <div class="profile-card">
            <div class="avatar-container">
              <img
                src="{{ site.logo | relative_url }}"
                alt="{{ site.actual_name }}"
                class="profile-avatar"
              />
            </div>

            <div class="profile-text-container">
              <h1>{{ site.actual_name }}</h1>
              <p class="username">@{{ site.username }} · {{ site.pronouns }}</p>
              <p class="bio">{{ site.description }}</p>
            </div>

            <div class="social-links">
              {% for link in site.social_links %} {% assign url_parts = link.url
              | remove: "https://" | remove: "http://" | remove: "www." | split:
              "/" %} {% assign site_name = url_parts[0] | split: "." | first %}
              {% assign username = url_parts[1] | default: "" %}

              <a href="{{ link.url }}" target="_blank" class="social-icon">
                <i class="fab fa-{{ site_name }}"></i>
                <span>
                  {{ site_name | capitalize }}{% if username != "" %}/{{
                  username }}{% endif %}
                </span>
              </a>
              {% endfor %}
              <!-- feeed link -->
              <a
                href="{{ '/feed.xml' | relative_url }}"
                target="_blank"
                class="social-icon feed-link"
              >
                <i class="fas fa-rss"></i>
                <span>RSS Feed</span>
              </a>
            </div>
            <!-- pinned post -->
            {% if site.pinned_post %}
            <div class="pinned-post">
              <h3 class="fa fa-thumb-tack" aria-hidden="true"></h3> Pinned Post</h3>
              <a href="{{ site.baseurl }}{{ site.pinned_post.url }}"
                >{{ site.pinned_post.title }}</a
              >
            </div>
            {% endif %}
          </div>
        </div>

        <div class="content-column">
          <div class="content-container">
            <!-- Add URL endpoint display here -->
            <div class="page-url">{{ page.url | remove_first: '/' }}</div>
            
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
