---
layout: default
title: Gallery
---

<!-- Include lightgallery CSS and JS in head -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lightgallery.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-zoom.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/css/lg-thumbnail.min.css"
/>

<div class="gallery-container">
  <div class="gallery-header">
    <h2>Gallery</h2>
    <p>A collection of my work and interests</p>
  </div>

  <div class="gallery-masonry" id="lightgallery">
    {% for gallery in site.data.gallery %} {% assign gallery_path = gallery.path
    %} {% assign image_files = site.static_files | where_exp: "file", "file.path
    contains gallery_path" %} {% for file in image_files %} {% if file.extname
    == '.jpg' or file.extname == '.jpeg' or file.extname == '.png' or
    file.extname == '.gif' %}
    <div
      class="gallery-item"
      data-src="{{ file.path | relative_url }}"
      data-sub-html="<h4>{{ file.name | split: '.' | first | replace: '-', ' ' | replace: '_', ' ' | capitalize }}</h4>"
    >
      <a href="javascript:void(0);" class="gallery-link">
        <img
          src="{{ file.path | relative_url }}"
          alt="{{ file.name }}"
          class="gallery-image"
        />
        <div class="gallery-overlay">
          <h3>
            {{ file.name | split: '.' | first | replace: '-', ' ' | replace:
            '_', ' ' | capitalize }}
          </h3>
        </div>
      </a>
    </div>
    {% endif %} {% endfor %} {% endfor %}
  </div>
</div>

<!-- Include lightgallery JS at the end of the body -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/zoom/lg-zoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.1/plugins/thumbnail/lg-thumbnail.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    lightGallery(document.getElementById("lightgallery"), {
      selector: ".gallery-item",
      plugins: [lgZoom, lgThumbnail],
      speed: 500,
      download: false,
      counter: true,
      mousewheel: true,
      closable: true,
      loop: true,
      escKey: true,
      keyPress: true,
    });
  });
</script>
